#%RAML 1.0
title: OnboardIQ API
version: v1
baseUri: https://api.onboardiq.lovable.app
mediaType: 
  - application/json

securitySchemes:
  oauth_2_0: !include https://raw.githubusercontent.com/raml-org/raml-examples/master/examples/oauth2/oauth2.raml

types:
  User:
    type: object
    properties:
      id:
        type: string
        description: Unique user identifier
      email:
        type: string
        format: email
        description: User email address
      phone:
        type: string
        description: User phone number
      status:
        type: string
        enum: [pending, verified, completed]
        description: User onboarding status
      createdAt:
        type: datetime
        description: User creation timestamp
      verifiedAt:
        type: datetime
        description: User verification timestamp
      completedAt:
        type: datetime
        description: Onboarding completion timestamp

  OnboardingRequest:
    type: object
    properties:
      operation:
        type: string
        enum: [user-registration, document-generation, verification, onboarding-complete]
        description: Type of onboarding operation
      email:
        type: string
        format: email
        description: User email address
      phone:
        type: string
        description: User phone number
      userId:
        type: string
        description: User identifier for operations

  OnboardingResponse:
    type: object
    properties:
      status:
        type: string
        enum: [success, error]
        description: Operation status
      message:
        type: string
        description: Response message
      userId:
        type: string
        description: User identifier (for registration)
      data:
        type: object
        description: Additional response data

/users:
  get:
    description: Retrieve all users
    responses:
      200:
        body:
          application/json:
            type: User[]
            example: |
              [
                {
                  "id": "user_123",
                  "email": "john@example.com",
                  "phone": "+1234567890",
                  "status": "completed",
                  "createdAt": "2024-01-15T10:30:00Z",
                  "verifiedAt": "2024-01-15T10:35:00Z",
                  "completedAt": "2024-01-15T11:00:00Z"
                }
              ]
  
  post:
    description: Register a new user
    body:
      application/json:
        type: OnboardingRequest
        example: |
          {
            "operation": "user-registration",
            "email": "newuser@example.com",
            "phone": "+1234567890"
          }
    responses:
      201:
        body:
          application/json:
            type: OnboardingResponse
            example: |
              {
                "status": "success",
                "message": "User registered successfully",
                "userId": "user_456"
              }

/onboarding:
  post:
    description: Process onboarding operations
    body:
      application/json:
        type: OnboardingRequest
        example: |
          {
            "operation": "document-generation",
            "userId": "user_123",
            "email": "user@example.com"
          }
    responses:
      200:
        body:
          application/json:
            type: OnboardingResponse
            example: |
              {
                "status": "success",
                "message": "Documents generated and sent"
              }

/verification:
  post:
    description: Verify user account
    body:
      application/json:
        type: OnboardingRequest
        example: |
          {
            "operation": "verification",
            "userId": "user_123",
            "email": "user@example.com"
          }
    responses:
      200:
        body:
          application/json:
            type: OnboardingResponse
            example: |
              {
                "status": "success",
                "message": "User verified successfully"
              }

/complete:
  post:
    description: Complete user onboarding
    body:
      application/json:
        type: OnboardingRequest
        example: |
          {
            "operation": "onboarding-complete",
            "userId": "user_123",
            "email": "user@example.com"
          }
    responses:
      200:
        body:
          application/json:
            type: OnboardingResponse
            example: |
              {
                "status": "success",
                "message": "Onboarding completed successfully"
              }

/health:
  get:
    description: Health check endpoint
    responses:
      200:
        body:
          application/json:
            example: |
              {
                "status": "healthy",
                "timestamp": "2024-01-15T12:00:00Z",
                "version": "1.0.0"
              }

/metrics:
  get:
    description: Application metrics
    responses:
      200:
        body:
          application/json:
            example: |
              {
                "totalUsers": 150,
                "pendingUsers": 25,
                "verifiedUsers": 100,
                "completedUsers": 25,
                "uptime": "24h 30m 15s"
              }
